## Load Library

In [11]:
import pycurl
from io import BytesIO
import bs4
from bs4 import BeautifulSoup
from tqdm import tqdm_notebook
from pandas import DataFrame
import pandas as pd

## Load Functions

In [4]:
def search(url):
    buffer = BytesIO()
    storage = BytesIO()
    c = pycurl.Curl()
    c.setopt(c.URL, url)
    c.setopt(c.WRITEDATA, buffer)
    c.perform()
    c.close()
    body = buffer.getvalue()
    soup = BeautifulSoup(body, 'html.parser')
    return soup

def get_author_id(term):
    term_up = term.upper()
    term_ref = term_up.replace(' ', '+')
    
    url = 'http://sinta2.ristekdikti.go.id/affiliations/detail?q='+ term_ref +'&search=1&view=authors&id=384'
    author_search = search(url)
    
    for a in author_search.find_all('a', href=True):
        if term_up in a:
            url_id = (a['href'])
            auth_id = url_id.replace('/authors/detail/?id=', "")
            auth_idx = auth_id.replace('&view=overview', "")
    return auth_idx

def get_author_rank(auth_id1):
    url2 = 'http://sinta2.ristekdikti.go.id/authors/detail?id='+auth_id1+'&view=overview'
    info = search(url2)

    for a in info.find_all('div', class_='stat-lbl-big'):
        for i in a.contents:
            if "Rank in National" in i:
                x = a.find_previous('div', class_="stat-num")
                print('Rank in National '+x.contents[0])
            if "Rank in Affiliation" in i:
                x = a.find_previous('div', class_="stat-num")
                print('Rank in Affiliation '+x.contents[0])
            if " Score" in i:
                x = a.find_previous('div', class_="stat-num")
                print('SINTA Score '+x.contents[0])
            
    for a in info.find_all('div', class_='uk-width-2-10 uk-row-first stat-lbl-pub'):
        for i in a.contents:
            if "scopus" in i['src']:
                x = a.find_next('div', class_="uk-width-2-10 stat-num-pub")
                print('Scopus '+x.contents[0])
            if "scholar" in i['src']:
                x = a.find_next('div', class_="uk-width-2-10 stat-num-pub")
                print('Google Scholar '+x.contents[0])
    return

def get_author_info(term):
    auth_id2 = get_author_id(term)
    
    url2 = 'http://sinta2.ristekdikti.go.id/authors/detail?id='+auth_id2+'&view=overview'
    info = search(url2)
    
    for a in info.find_all('div', class_='stat-lbl-big'):
        for i in a.contents:
            if "Rank in National" in i:
                nr = a.find_previous('div', class_="stat-num")
                #print('Rank in National '+n_r.contents[0])
                n_r = nr.contents[0]
            if "Rank in Affiliation" in i:
                ar = a.find_previous('div', class_="stat-num")
                #print('Rank in Affiliation '+a_r.contents[0])
                a_r = ar.contents[0]
            if " Score" in i:
                ss = a.find_previous('div', class_="stat-num")
                #print('SINTA Score '+x.contents[0])
                s_s = ss.contents[0]
            
    for a in info.find_all('div', class_='uk-width-2-10 uk-row-first stat-lbl-pub'):
        for i in a.contents:
            if "scopus" in i['src']:
                s_p = a.find_next('div', class_="uk-width-2-10 stat-num-pub")
                #print('Scopus '+x.contents[0])
                sp = s_p.contents[0]
            if "scholar" in i['src']:
                g_s = a.find_next('div', class_="uk-width-2-10 stat-num-pub")
                #print('Google Scholar '+x.contents[0])
                gs = g_s.contents[0]
    df_data = [term, auth_id2, n_r, a_r, s_s, sp, gs]
    return df_data

## Test

In [5]:
#Get SINTA ID
term = 'Matin Nuhamunada'
author_id2 = get_author_id(term)
author_id2

'6014421'

In [8]:
#Get HTML page of author's information based on SINTA ID
url2 = 'http://sinta2.ristekdikti.go.id/authors/detail?id='+author_id2+'&view=overview'
info = search(url2)
#info

In [12]:
#Create Empty Dataframe to contain data
df_data = DataFrame(columns=('Nama',"SINTA ID", "Rank National", "Rank Affiliation", "Sinta Score", "Scopus", "Scholar"))
df_data.index.name = 'No'

In [13]:
#Test for multiple author search
biologi = {'Nama' : ["Matin Nuhamunada", "Indra Lesmana"]}
df_biologi = DataFrame(data=biologi)
df_biologi.index.name = 'No'
for i in tqdm_notebook(range(len(df_biologi))):
    df_data.loc[i] = get_author_info(df_biologi.loc[i, "Nama"])
df_data

HBox(children=(IntProgress(value=0, max=2), HTML(value='')))

,Nama,SINTA ID,Rank National,Rank Affiliation,Sinta Score,Scopus,Scholar
No,,,,,,,
0,Matin Nuhamunada,6014421,11023,848,1.37,3,5
1,Indra Lesmana,6023357,22802,1205,0.29,2,3

# Data Mining of Lecturers from the Faculty of Biology UGM

In [20]:
lecturer = search('http://biologi.ugm.ac.id/en/lectures/')
#lecturer

In [66]:
lec_list = []
for i in lecturer.find_all('div', class_='elementor-tab-content elementor-clearfix'):
    for a in i.contents:
        for x in a.contents:
            if isinstance(x, NavigableString):
                pass
            else:
                #print(x.find_all('strong'))
                for b in x.find_all('strong'):#, href=True):
                    for c in b.contents:
                        if not isinstance(c, bs4.element.NavigableString):
                            if isinstance(c.contents[0], bs4.element.NavigableString):
                                d = c.contents[0]
                                lec_list.append(str(d))

In [71]:
lec_list = []
for i in lecturer.find_all('div', class_='elementor-tab-content elementor-clearfix'):
    for a in i.contents:
        for x in a.contents:
            if isinstance(x, NavigableString):
                pass
            else:
                #print(x.find_all('strong'))
                for b in x.find_all('strong'):#, href=True):
                    for c in b.contents:
                        if isinstance(c, bs4.element.NavigableString):
                            print(c)
                        else:
                            if not isinstance(c, bs4.element.NavigableString):
                                if isinstance(c.contents[0], bs4.element.NavigableString):
                                    print(c.contents[0])

Dra. Rarastoeti Pratiwi, M.Sc., Ph.D.
Dr. Yekti Asih Purwestri, M.Si.
Dr. Tri Rini Nuringtyas, M.Sc.
Woro Anindito Sri Tunjung, M.Sc., Ph.D.
Lisna Hidayati, S.S., M.Biotech.
Dr. Endang Semiarti, M.S., M.Sc.
Dr. rer.nat. Ari Indrianto, S.U.
Dr. Eko Agus Suyono, M.App.Sc.
Aries Bagus Sasongko, M.Biotech.
Matin Nuhamunada, S.Si., M.Sc.
Prof. Dr. Suwarno Hadisusanto, S.U.
Prof. Dr. Tjut Sugandawaty Djohan, M.Sc.
Dr. Retno Peni Sancayaningsih, M.Sc.
Dr.rer.nat. Andhika Puspito Nugroho, S.Si., M.Si.
Siti Nurleily Marliana, S.Si., M.Sc., Ph.D.
Mukhlish Jamal Musa Holle M.Env.Sc
Dr. Niken Satuti Handayani, M.Sc.
Dr. Budi Setiadi Daryono, M.Agr.Sc.
Dr. Dra. Tuty Arisuryanti, M.Sc.
Ganies Riza A., S.Si., M.Sc.
Indra Lesmana., S.Si., M.Sc.
Prof. Dra. Agnes Endang Sutariningsih, M.Sc., Ph.D.
Dr. Endah Retnaningrum, M. Eng.
Dr. Miftahul Ilmi, M.Si
Sari Darmasiwi, S.Si., M.Biotech.
Abdul Rahman Siregar, S.Si., M.Biotech.
Arief Muammar, S.Si., M.Sc.

Dr. Purnomo, M.S.
Rina Sri Kasiamdari, S.Si., Ph.D.
Drs. Heri Sujadmiko, M.Si.
Dr. Dra. Ratna Susandarini, M.Sc.
Ludmilla Fitri Untari, S.Si., M.Si.
Abdul Razaq Chasani, S.Si., M.Si.
Prof. Dr. L. Hartanto Nugroho, M.Agr.
Dr. Suharyanto, M.Sc., S.U.
Dr. Maryani, M.Sc.
Drs. Sutikno, S.U.
Dra. Siti Susanti, S.U.
Drs. Sudjino, M.S.
Dr. Diah Rahmawati, M.Si.
Dr. Kumala Dewi, M.Sc.St.
Dwi Umi Siswanti, M.Sc.
Drs. Tri Joko, M.Si.
Drs. Bambang Agus Suripto, M.Sc.
Rury Eprilurahman, S.Si. M.Sc.
Ratih Aryasari, S.Si., M.Si.
Donan Satria Yudha, S.Si., M.Sc.
Dra. Rr. Upiek Ngesti W.A., DAP, M.Kes.
Soenarwan Heri Poerwanto, S.Si., M.Si.
Dila Hening Windyarini, S.Si., M.Sc.
Drs. Johanes Sugiyanto, MS.
Ardaning Nuriliani, S.Si., M.Kes.
Susilo Hadi, S.Si., M.Si., Ph.D.
Zuliyati Rohmah, S.Si., M.Si., Ph.D.
Dr. Bambang Retnoaji, M.Sc.
Dr.med.vet. Hendry T.S.S.G. Saragih, M.P.
Luthfi Nurhidayat, S.Si., M.Sc.
Dra. Mulyati Sarto, M.Si.
Dr. Slamet Widianto, S.Si., M.Sc.
Laksmindra Fitria, S.Si., M.Si.
Dr.biol.hom. Nastiti Wijayanti, M.Si.
Rahadian Yudo Hartantyo, M.Sc.
Fajar Sofyantoro, M.Sc.
Dr. R.C. Hidayat Soesilohadi, M.S.
Dra. Siti Sumarmi, Ph.D.
Drs. Hari Purwanto, M.P.
Sukirno, M.Sc.
Drs. Ignatius Sudaryadi, M.Kes.

In [42]:
from bs4 import NavigableString
lec_list = []
for i in lecturer.find_all('div', class_='elementor-tab-content elementor-clearfix'):
    for a in i.contents:
        for x in a.contents:
            if isinstance(x, NavigableString):
                pass
            else:
                for b in x.find_all('a'):#, href=True):
                    if not b.find("strong") is None:
                        c = b.find("strong")
                        d = c.contents[0]
                        lec_list.append(str(d))
lec_list

['Dra. Rarastoeti Pratiwi, M.Sc., Ph.D.',
 'Dr. Yekti Asih Purwestri, M.Si.',
 'Woro Anindito Sri Tunjung, M.Sc., Ph.D.',
 'Dr. Endang Semiarti, M.S., M.Sc.',
 'Dr. rer.nat. Ari Indrianto, S.U.',
 'Dr. Eko Agus Suyono, M.App.Sc.',
 'Aries Bagus Sasongko, M.Biotech.',
 'Matin Nuhamunada, S.Si., M.Sc.',
 'Prof. Dr. Suwarno Hadisusanto, S.U.',
 'Prof. Dr.\xa0Tjut Sugandawaty Djohan, M.Sc.',
 'Dr. Retno Peni Sancayaningsih, M.Sc.',
 'Dr.rer.nat. Andhika Puspito Nugroho, S.Si., M.Si.',
 'Siti Nurleily Marliana, S.Si., M.Sc., Ph.D.',
 'Mukhlish Jamal Musa Holle M.Env.Sc',
 'Dr. Niken Satuti Handayani, M.Sc.',
 'Dr. Budi Setiadi Daryono, M.Agr.Sc.',
 'Dr. Dra. Tuty Arisuryanti, M.Sc.',
 'Ganies Riza A., S.Si., M.Sc.',
 'Dr. Endah Retnaningrum, M. Eng.',
 'Dr. Purnomo, M.S.',
 'Rina Sri Kasiamdari, S.Si., Ph.D.',
 'Drs. Heri Sujadmiko, M.Si.',
 'Dr. Dra. Ratna Susandarini, M.Sc.',
 'Ludmilla Fitri Untari, S.Si., M.Si.',
 'Abdul Razaq Chasani, S.Si., M.Si.',
 'Prof. Dr. L. Hartanto Nugroho, M.Agr.',
 'Dr. Suharyanto, M.Sc., S.U.',
 'Dr.\xa0Maryani, M.Sc.',
 'Drs. Sutikno, S.U.',
 'Dra. Siti Susanti, S.U.',
 'Drs. Sudjino, M.S.',
 'Dr. Diah Rahmawati, M.Si.',
 'Dr. Kumala Dewi, M.Sc.St.',
 'Dwi Umi Siswanti, M.Sc.',
 'Drs. Tri Joko, M.Si.',
 'Drs. Bambang Agus Suripto, M.Sc.',
 'Rury Eprilurahman, S.Si. M.Sc.',
 'Ratih Aryasari, S.Si., M.Si.',
 'Donan Satria Yudha, S.Si., M.Sc.',
 'Dra. Rr. Upiek Ngesti W.A., DAP, M.Kes.',
 'Soenarwan Heri Poerwanto, S.Si., M.Si.',
 'Dila Hening Windyarini, S.Si., M.Sc. ',
 'Drs. Johanes Sugiyanto, MS.',
 'Ardaning Nuriliani, S.Si., M.Kes.',
 'Susilo Hadi, S.Si., M.Si., Ph.D.',
 'Zuliyati Rohmah, S.Si., M.Si., Ph.D.',
 'Dr. Bambang Retnoaji, M.Sc.',
 'Dr.med.vet. Hendry T.S.S.G. Saragih, M.P.',
 'Luthfi Nurhidayat, S.Si., M.Sc.',
 'Dra. Mulyati Sarto, M.Si.',
 'Dr. Slamet Widianto, S.Si., M.Sc.',
 'Laksmindra Fitria, S.Si., M.Si.',
 'Rahadian Yudo Hartantyo, M.Sc.',
 'Dr. R.C. Hidayat Soesilohadi, M.S.',
 'Dra. Siti Sumarmi, Ph.D.',
 'Sukirno, M.Sc.',
 'Drs. Ignatius Sudaryadi, M.Kes.']

In [28]:
import re
replaced = [w.replace('Prof. Dr.\xa0', '')\
            .replace('Prof. Dr. ', '')\
            .replace('Dr.rer.nat. ', '')\
            .replace('Dr. rer.nat. ', '')\
            .replace('Dr.med.vet. ', '')\
            .replace('Dra. ', '')\
            .replace('Drs. ', '')\
            .replace('Dr. ', '')\
            .replace('Dr.\xa0', '')\
            .replace(', ', '')\
            .replace('M.Sc.', '')\
            .replace('Ph.D.', '')\
            .replace('M.Si.', '')\
            .replace('M.S.', '')\
            .replace('M.App.Sc.', '')\
            .replace('S.Si. ', '')\
            .replace('S.Si.', '')\
            .replace('S.U.', '')\
            .replace('M.Biotech.', '')\
            .replace(' M.Env.Sc', '')\
            .replace('M.Agr.Sc.', '')\
            .replace('M. Eng.', '')\
            .replace('M.Agr.', '')\
            .replace('M.Kes.', '')\
            .replace('M.P.', '')\
            .replace('DAP', '')\
            .replace('MS.', '')\
            .replace('St.', '')\
            for w in lec_list]
#replaced

In [75]:
replaced2 = [w.replace('Niken Satuti Handayani', 'Niken Satuti Nur Handayani') \
             .replace('Ganies Riza A.', 'Ganies Riza Aristya') \
             .replace('L. Hartanto Nugroho', 'Laurentius Hartanto Nugroho') \
             .replace('Diah Rahmawati', 'Diah Rachmawati') \
             .replace('Rr. Upiek Ngesti W.A.', 'Rr Upiek Ngesti Wibawaning A') \
             .replace('Soenarwan Heri Poerwanto', 'Soenarwan Hery Poerwanto') \
             .replace('Dila Hening Windyarini', 'Dila Hening Windyaraini') \
             .replace('Susilo Hadi', 'Susilohadi') \
             .replace('Hendry T.S.S.G. Saragih', 'Hendry TSSG Saragih') \
             .replace('R.C. Hidayat Soesilohadi', 'R C Hidayat Soesilohadi') \
             .replace('Mulyati Sarto', 'Mulyati') \
             .replace('Slamet Widianto', 'Slamet Widiyanto') \
             for w in replaced]

In [76]:
biologi2 = {'Nama' : replaced2}
df_biologi2 = DataFrame(data=biologi2)
df_biologi2.index.name = 'No'
df_biologi2

                            Nama
No
0             Rarastoeti Pratiwi
1           Yekti Asih Purwestri
2      Woro Anindito Sri Tunjung
3                Endang Semiarti
4                  Ari Indrianto
5                Eko Agus Suyono
6           Aries Bagus Sasongko
7               Matin Nuhamunada
8            Suwarno Hadisusanto
9        Tjut Sugandawaty Djohan
10     Retno Peni Sancayaningsih
11       Andhika Puspito Nugroho
12        Siti Nurleily Marliana
13     Mukhlish Jamal Musa Holle
14    Niken Satuti Nur Handayani
15          Budi Setiadi Daryono
16              Tuty Arisuryanti
17           Ganies Riza Aristya
18            Endah Retnaningrum
19                       Purnomo
20           Rina Sri Kasiamdari
21                Heri Sujadmiko
22             Ratna Susandarini
23         Ludmilla Fitri Untari
24           Abdul Razaq Chasani
25   Laurentius Hartanto Nugroho
26                    Suharyanto
27                       Maryani
28                       Sutikno
29                  Siti Susanti
30                       Sudjino
31               Diah Rachmawati
32                   Kumala Dewi
33              Dwi Umi Siswanti
34                      Tri Joko
35          Bambang Agus Suripto
36             Rury Eprilurahman
37                Ratih Aryasari
38            Donan Satria Yudha
39  Rr Upiek Ngesti Wibawaning A
40      Soenarwan Hery Poerwanto
41       Dila Hening Windyaraini
42             Johanes Sugiyanto
43            Ardaning Nuriliani
44                    Susilohadi
45               Zuliyati Rohmah
46              Bambang Retnoaji
47           Hendry TSSG Saragih
48             Luthfi Nurhidayat
49                       Mulyati
50              Slamet Widiyanto
51             Laksmindra Fitria
52       Rahadian Yudo Hartantyo
53       R C Hidayat Soesilohadi
54                  Siti Sumarmi
55                       Sukirno
56            Ignatius Sudaryadi

In [77]:
import os, sys
from time import sleep
if not os.path.isfile('data.csv'):
    df_data2 = DataFrame(columns=('Nama',"SINTA ID", "Rank National", "Rank Affiliation", "Sinta Score", "Scopus", "Scholar"))
    df_data2.index.name = 'No'
else:
    df_data2 = pd.read_csv('data.csv', index_col=0)
pbar = tqdm_notebook(range(len(df_biologi2))) #to make progressbar    
for i in pbar:
    if not i in df_data2.index:
        df_data2.loc[i] = get_author_info(df_biologi2.loc[i, "Nama"])
        pbar.set_description('processed: %d' % (i))
        pbar.update(1)
        sleep(1)

HBox(children=(IntProgress(value=0, max=57), HTML(value='')))

In [78]:
df_data2

,Nama,SINTA ID,Rank National,Rank Affiliation,Sinta Score,Scopus,Scholar
No,,,,,,,
0,Rarastoeti Pratiwi,257321,2653,299,7.66,8,91
1,Yekti Asih Purwestri,21472,960,115,15.39,6,34
2,Woro Anindito Sri Tunjung,6021239,4337,447,4.73,8,38
3,Endang Semiarti,5973460,121,10,47.51,24,164
4,Ari Indrianto,6142358,61889,1849,0,0,0
5,Eko Agus Suyono,42920,3349,364,6.2,17,50
6,Aries Bagus Sasongko,6017558,38327,1523,0.04,0,8
7,Matin Nuhamunada,6014421,10967,845,1.37,3,5
8,Suwarno Hadisusanto,6017929,5524,538,3.61,8,130
9,Tjut Sugandawaty Djohan,6015983,5002,501,4.04,3,124
10,Retno Peni Sancayaningsih,6004198,9819,782,1.65,5,103
11,Andhika Puspito Nugroho,5976983,5663,545,3.51,6,17
12,Siti Nurleily Marliana,42922,15906,1018,0.7,2,7
13,Mukhlish Jamal Musa Holle,6014471,86445,2070,0,0,2
14,Niken Satuti Nur Handayani,5973470,6340,584,3.05,8,81
15,Budi Setiadi Daryono,21420,1140,135,13.59,32,296
16,Tuty Arisuryanti,43298,23785,1232,0.25,1,23
17,Ganies Riza Aristya,5973150,72672,1967,0,0,3
18,Endah Retnaningrum,42921,12241,892,1.16,4,38
19,Purnomo,257625,91174,2106,0,0,0
20,Rina Sri Kasiamdari,6003781,4670,478,4.37,6,78
21,Heri Sujadmiko,6017931,74802,1980,0,0,21
22,Ratna Susandarini,5991537,7554,657,2.4,5,24
23,Ludmilla Fitri Untari,5986653,31661,1408,0.09,0,10
24,Abdul Razaq Chasani,6014438,57605,1795,0,0,3
25,Laurentius Hartanto Nugroho,5977709,1321,159,12.26,16,72
26,Suharyanto,6017954,24542,1259,0.22,0,18
27,Maryani,6016534,2697,304,7.57,4,13
28,Sutikno,6038294,55863,1770,0.01,0,2
29,Siti Susanti,6038161,55418,1761,0.01,0,2
30,Sudjino,6017962,7413,647,2.47,0,97
31,Diah Rachmawati,6014449,3494,378,5.93,7,58
32,Kumala Dewi,5976559,4425,454,4.64,12,91
33,Dwi Umi Siswanti,6000546,44965,1637,0.02,0,9
34,Tri Joko,21491,5289,522,3.8,5,44
35,Bambang Agus Suripto,6043922,8944,741,1.89,2,35
36,Rury Eprilurahman,6000808,7526,654,2.41,5,41
37,Ratih Aryasari,6006315,33259,1435,0.08,0,2
38,Donan Satria Yudha,5981593,12309,895,1.14,3,19
39,Rr Upiek Ngesti Wibawaning A,6014643,22591,1201,0.29,1,18
40,Soenarwan Hery Poerwanto,6014439,17353,1055,0.57,2,46
41,Dila Hening Windyaraini,6014567,67245,1915,0,0,2
42,Johanes Sugiyanto,6014525,28306,1343,0.14,0,17
43,Ardaning Nuriliani,6037774,49502,1692,0.01,0,26
44,Susilohadi,6015704,4997,500,4.04,4,8
45,Zuliyati Rohmah,5988050,8750,730,1.95,4,27
46,Bambang Retnoaji,30059,4497,464,4.55,9,44
47,Hendry TSSG Saragih,258288,7122,639,2.6,5,17
48,Luthfi Nurhidayat,5973466,17776,1067,0.54,2,8
49,Mulyati,6025299,35895,1481,0.06,0,39
50,Slamet Widiyanto,5973465,47865,1674,0.02,0,18
51,Laksmindra Fitria,5976833,27568,1331,0.15,0,34
52,Rahadian Yudo Hartantyo,5976774,91798,2112,0,0,1
53,R C Hidayat Soesilohadi,6014250,21681,1175,0.33,0,39
54,Siti Sumarmi,6015468,47843,1673,0.02,0,19
55,Sukirno,43311,8510,718,2.03,5,5
56,Ignatius Sudaryadi,5976838,76651,1998,0,0,0

In [79]:
df_data2.to_csv('data.csv')

In [83]:
df_data3 = pd.read_csv('data.csv', index_col=0)
df_data3.sort_values(by=['Sinta Score'], ascending=False)

,Nama,SINTA ID,Rank National,Rank Affiliation,Sinta Score,Scopus,Scholar
No,,,,,,,
3,Endang Semiarti,5973460,121,10,47.51,24,164
1,Yekti Asih Purwestri,21472,960,115,15.39,6,34
15,Budi Setiadi Daryono,21420,1140,135,13.59,32,296
25,Laurentius Hartanto Nugroho,5977709,1321,159,12.26,16,72
0,Rarastoeti Pratiwi,257321,2653,299,7.66,8,91
27,Maryani,6016534,2697,304,7.57,4,13
5,Eko Agus Suyono,42920,3349,364,6.20,17,50
31,Diah Rachmawati,6014449,3494,378,5.93,7,58
2,Woro Anindito Sri Tunjung,6021239,4337,447,4.73,8,38
32,Kumala Dewi,5976559,4425,454,4.64,12,91
46,Bambang Retnoaji,30059,4497,464,4.55,9,44
20,Rina Sri Kasiamdari,6003781,4670,478,4.37,6,78
44,Susilohadi,6015704,4997,500,4.04,4,8
9,Tjut Sugandawaty Djohan,6015983,5002,501,4.04,3,124
34,Tri Joko,21491,5289,522,3.80,5,44
8,Suwarno Hadisusanto,6017929,5524,538,3.61,8,130
11,Andhika Puspito Nugroho,5976983,5663,545,3.51,6,17
14,Niken Satuti Nur Handayani,5973470,6340,584,3.05,8,81
47,Hendry TSSG Saragih,258288,7122,639,2.60,5,17
30,Sudjino,6017962,7413,647,2.47,0,97
36,Rury Eprilurahman,6000808,7526,654,2.41,5,41
22,Ratna Susandarini,5991537,7554,657,2.40,5,24
55,Sukirno,43311,8510,718,2.03,5,5
45,Zuliyati Rohmah,5988050,8750,730,1.95,4,27
35,Bambang Agus Suripto,6043922,8944,741,1.89,2,35
10,Retno Peni Sancayaningsih,6004198,9819,782,1.65,5,103
7,Matin Nuhamunada,6014421,10967,845,1.37,3,5
18,Endah Retnaningrum,42921,12241,892,1.16,4,38
38,Donan Satria Yudha,5981593,12309,895,1.14,3,19
12,Siti Nurleily Marliana,42922,15906,1018,0.70,2,7
40,Soenarwan Hery Poerwanto,6014439,17353,1055,0.57,2,46
48,Luthfi Nurhidayat,5973466,17776,1067,0.54,2,8
53,R C Hidayat Soesilohadi,6014250,21681,1175,0.33,0,39
39,Rr Upiek Ngesti Wibawaning A,6014643,22591,1201,0.29,1,18
16,Tuty Arisuryanti,43298,23785,1232,0.25,1,23
26,Suharyanto,6017954,24542,1259,0.22,0,18
51,Laksmindra Fitria,5976833,27568,1331,0.15,0,34
42,Johanes Sugiyanto,6014525,28306,1343,0.14,0,17
23,Ludmilla Fitri Untari,5986653,31661,1408,0.09,0,10
37,Ratih Aryasari,6006315,33259,1435,0.08,0,2
49,Mulyati,6025299,35895,1481,0.06,0,39
6,Aries Bagus Sasongko,6017558,38327,1523,0.04,0,8
33,Dwi Umi Siswanti,6000546,44965,1637,0.02,0,9
50,Slamet Widiyanto,5973465,47865,1674,0.02,0,18
54,Siti Sumarmi,6015468,47843,1673,0.02,0,19
28,Sutikno,6038294,55863,1770,0.01,0,2
43,Ardaning Nuriliani,6037774,49502,1692,0.01,0,26
29,Siti Susanti,6038161,55418,1761,0.01,0,2
41,Dila Hening Windyaraini,6014567,67245,1915,0.00,0,2
24,Abdul Razaq Chasani,6014438,57605,1795,0.00,0,3
21,Heri Sujadmiko,6017931,74802,1980,0.00,0,21
19,Purnomo,257625,91174,2106,0.00,0,0
52,Rahadian Yudo Hartantyo,5976774,91798,2112,0.00,0,1
17,Ganies Riza Aristya,5973150,72672,1967,0.00,0,3
13,Mukhlish Jamal Musa Holle,6014471,86445,2070,0.00,0,2
4,Ari Indrianto,6142358,61889,1849,0.00,0,0
56,Ignatius Sudaryadi,5976838,76651,1998,0.00,0,0